{% extends "_layout.html" %}
{% block title %}
Nextagram
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

<div class="home vertical-center">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-6 align-self-center content">
        <div class="branding">
          <h1>Welcome to Nextagram</h1>
        </div>

        <div class="description">
          <h5 class="slogan">Macam Instagram tapi bukan</h5>
          <p>This is a simple clone of the Instagram app. Built using Python and Flask as a project for NEXT Academy.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}