{% extends '_layout.html' %}
{% block content %}

<head>
    <meta charset="utf-8">
    <script src="https://js.braintreegateway.com/web/dropin/1.18.0/js/dropin.min.js"></script>
</head>

<body>
    <form action="{{ url_for('payments.create', image_id-image.id) }}" method="POST"></form>
    <input type="hidden" name="csrf_token" />
    <input type="hidden" name="payment_method_nonce" id="payment_nonce" />
    <div id="form-group">
        <button id="submit-button">Request payment method</button>
        <script>

            const button = document.querySelector('#submit-button');
            const nonceContainer = document.querySelector('#payment_nonce');
            const form = document.querySelector('')

            braintree.dropin.create({
                authorization: '{{client_token}}',
                container: '#dropin-container'
            }, function (createErr, instance) {
                button.addEventListener('click', function () {
                    instance.requestPaymentMethod(function (err, payload) {
                        // Submit payload.nonce to your server
                    });
                });
            });
        </script>
    </div>
</body>
{% endblock %}