{% extends "_layout.html" %}
{% block content %}

<body>
    <h1>Change your profile picture</h1>

    <form action="{{ url_for('users.upload_profile') }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <label for="user_file"> Change profile picture</label>
        <input type="file" name="profile_image">
        <button type="submit" class="btn btn-primary">Upload</button>
        <button type="submit" class="btn btn-danger">Cancel</button>
    </form>
</body>

{% endblock %}